@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

nav {
  padding: 0 15rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 0 10%;
}

.card-image {
  position: relative;
}

.card-image img {
  height: 150px;
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.card {
  box-shadow: 0px 0px 10px black;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  border-radius: 6px;
}

.card-content {
  flex: 1;
  padding: 24px;
  border-radius: 0 0 2px 2px;
}

.card-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  position: relative;
  padding: 16px 24px;
}

.icon {
  font-size: 2rem;
  color: royalblue;
}

.stars {
  padding-left: 20px;
}

.btn {
  font-size: 14px;
  width: 100px;
  background-color: royalblue;
  border-radius: 2px;
  color: #fff;
  border-radius: 6px;
  border: 1px solid white;
  padding: 10px;
}

.price {
  font-size: 16px;
}

.card-title {
  display: block;
  line-height: 32px;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 300;
}

.card-category {
  font-weight: bold;
  border: 4px solid royalblue;
  border-radius: 8px;
  padding: 0 3%;
  color: royalblue;
}

.header {
  background-color: black;
  padding: 30px;
  text-align: center;
  position: sticky;
  z-index: 3;
}

a {
  color: white;
  font-size: 20px;
  padding: 0 10%;
}

.footer {
  background-color: black;
  font-size: 20px;
  padding: 0 10%;
  margin: 30;
}

.inactive-button {
  font-size: 14px;
  width: 100px;
  background-color: grey;
  border-radius: 2px;
  color: #fff;
  border-radius: 6px;
  border: 1px solid white;
  padding: 10px;
}

.price-red {
  color: #f44336 !important;
  font-size: 16px;
}
