@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  margin: 0 auto;
  padding: 0 10px;
  flex-grow: 1;
}

.card-image img {
  height: 150px;
  display: block;
  width: 100%;
}

.card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}

.card-content {
  flex: 1;
  padding: 20px;
}

.card-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px 24px;
}

.icon {
  font-size: 2rem;
  color: royalblue;
}

.stars {
  padding-left: 20px;
}

.price {
  font-size: 14px;
}

.card-title {
  display: block;
  line-height: 32px;
  margin-top: 8px;
  font-size: 24px;
  font-weight: 300;
}

.card-category {
  font-weight: bold;
  border: 2px solid royalblue;
  border-radius: 8px;
  padding: 0 2%;
  color: royalblue;
}

.price-red {
  color: #f44336 !important;
  font-size: 14px;
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  background-color: black;
  padding: 30px 10%;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header span {
  color: #fff;
  font-size: 16px;
}

.procentage {
  font-style: italic;
}

.btn {
  font-size: 14px;
  width: 105px;
  background-color: royalblue;
  color: #fff;
  border-radius: 8px;
  border: 1px solid white;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(37, 59, 128);
}

.logo {
  height: 25px;
  width: 25px;
  background: white;
  display: block;
  border-radius: 4px;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: black;
  font-size: 20px;
  padding: 30px 10%;
}

.container span {
  color: #fff;
  font-size: 16px;
  margin: 10px;
}

.btn:disabled {
  background-color: gray;
  cursor: default;
}

.wrapper {
  display: flex;
  align-items: center;
  margin: 10px;
}
